.ProductsPage {
  display: grid;

  grid-template-columns: 4fr 1fr;
}

.category {
  border: 2px solid black;
  height: fit-content;
  width: 200px;
  margin: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.category button {
  padding: 10px;
}

.category button:hover {
  background-color: aqua;
}

.products {
  display: grid;
  column-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#loader {
  display: flex;
  margin-top: 100px;
  justify-content: center;
}

.Search {
  margin: 20px 0px;
}

.Search input {
  height: 30px;
  border-radius: 5px;
}

.Search button {
  height: 30px;
  margin-left: 10px;
  border-radius: 5px;
  width: 30px;
  font-size: 16px;
}

#TiDelete {
  position: relative;
  top: 3.5px;
  margin-left: 5px;
}

#TiDelete:hover {
  color: red;
}
