.ProductsPage {
  display: grid;

  grid-template-columns: 4fr 1fr;
}

.category {
  border: 2px solid black;
  height: fit-content;
  width: 200px;
  margin: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.category button {
  padding: 10px;
}

.category button:hover {
  background-color: aqua;
}

.products {
  display: grid;
  column-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#loader {
  display: flex;
  margin-top: 100px;
  justify-content: center;
}
